# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/container/node_modules
/auth/node_modules
/dashboard/node_modules
/marketing/node_modules
/container/package-lock.json
/auth/package-lock.json
/dashboard/package-lock.json
/marketing/package-lock.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db